body{
    margin: 0;
    padding: 0;
    font-family:"Verdana", sans-serif;
}
.top{
    background-color: #1F2937 ;
    
}
.header{
   
    display:flex;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}

ul{
    list-style: none;
    display: flex;   
    justify-content: space-between;
    gap: 30px;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: auto;
    margin-left: 150px ;
}

.navigation{
    margin-right: 150px;
}

.content{
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 48px;
    font-weight: bolder; 
    color: #F9FAF8;
    margin-bottom: -10px;
}
p,a{
    font-size: 18px;
    color: #e5e7eb ;
}

#signUp{
    color: #F9FAF8;
    background-color: #3882f6;
    font-size: 15px;
    font-weight: bold;
    border: #3882f6;
    padding: 7px;
    border-radius:10px;
    margin-right: 350px;
    margin-left: 0px;
}

.left-side{
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-left: 150px;
    margin-top: 50px;
    
}
.image{
    background-color: #747474;
    color: #F9FAF8;
    padding: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.title{
   font-size: 36px;
   font-weight: 900; 
   display: flex;
   justify-content: center;
   margin: 50px;
}

.box{
    width: 120px;
    height: 120px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882f6;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: center;
    gap:60px
}
.text{
    text-align: center;
    width: 120px;
    font-size: 18px;
    color: #747474;
}
.container-2{
    background-color:#e5e7eb ;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote{
    font-size: 36px;
    font-weight:100;
    font-style: italic;
    color: #747474;
    margin-left: 250px;
    margin-right: 250px;
}
.credit{
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    margin-right: 250px;
}

.container-3{
    color: #F9FAF8;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #3882f6;
    padding: 50px 150px 50px 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: row
}

#signUp2 {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border-style: solid;
    border-width: 2px;
    border-color: #F9FAF8;
    border-radius: 10px;
    height: 40px;
    width: 160px;
    margin-left: 
}
.call{
    font-size: 24px;
    font-weight: bold;
}

.extra-info{
    font-size: 18px;
}
 .left{
    margin-left: -50px;
    margin-right: 200px;
 }